Proxy/Service References/SecurityServiceReference/SecurityService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Tickets.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Tickets.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfAspNetUser">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AspNetUser" nillable="true" type="tns:AspNetUser" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAspNetUser" nillable="true" type="tns:ArrayOfAspNetUser" />
  <xs:complexType name="AspNetUser">
    <xs:sequence>
      <xs:element minOccurs="0" name="AspNetUserClaim" nillable="true" type="tns:ArrayOfAspNetUserClaim" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Transaction" nillable="true" type="tns:ArrayOfTransaction" />
      <xs:element name="Updated" nillable="true" type="xs:dateTime" />
      <xs:element name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AspNetUser" nillable="true" type="tns:AspNetUser" />
  <xs:complexType name="ArrayOfAspNetUserClaim">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AspNetUserClaim" nillable="true" type="tns:AspNetUserClaim" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAspNetUserClaim" nillable="true" type="tns:ArrayOfAspNetUserClaim" />
  <xs:complexType name="AspNetUserClaim">
    <xs:sequence>
      <xs:element minOccurs="0" name="AspNetUser" nillable="true" type="tns:AspNetUser" />
      <xs:element minOccurs="0" name="ClaimType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClaimValue" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element name="UserId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AspNetUserClaim" nillable="true" type="tns:AspNetUserClaim" />
  <xs:complexType name="ArrayOfTransaction">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Transaction" nillable="true" type="tns:Transaction" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTransaction" nillable="true" type="tns:ArrayOfTransaction" />
  <xs:complexType name="Transaction">
    <xs:sequence>
      <xs:element minOccurs="0" name="AspNetUser" nillable="true" type="tns:AspNetUser" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="TicketSale" nillable="true" type="tns:ArrayOfTicketSale" />
      <xs:element name="TimeStamp" nillable="true" type="xs:dateTime" />
      <xs:element name="UserId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Transaction" nillable="true" type="tns:Transaction" />
  <xs:complexType name="ArrayOfTicketSale">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TicketSale" nillable="true" type="tns:TicketSale" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTicketSale" nillable="true" type="tns:ArrayOfTicketSale" />
  <xs:complexType name="TicketSale">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Session" nillable="true" type="tns:Session" />
      <xs:element name="SessionId" type="xs:int" />
      <xs:element minOccurs="0" name="Ticket" nillable="true" type="tns:Ticket" />
      <xs:element name="TicketId" type="xs:int" />
      <xs:element minOccurs="0" name="Transaction" nillable="true" type="tns:Transaction" />
      <xs:element name="TransactionId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TicketSale" nillable="true" type="tns:TicketSale" />
  <xs:complexType name="Session">
    <xs:sequence>
      <xs:element name="DateEnd" nillable="true" type="xs:dateTime" />
      <xs:element name="DateStart" nillable="true" type="xs:dateTime" />
      <xs:element name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Event" nillable="true" type="tns:Event" />
      <xs:element name="EventId" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element name="Name" nillable="true" type="xs:string" />
      <xs:element name="Price" type="xs:double" />
      <xs:element name="SpacesAvailable" type="xs:short" />
      <xs:element minOccurs="0" name="TicketSale" nillable="true" type="tns:ArrayOfTicketSale" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Session" nillable="true" type="tns:Session" />
  <xs:complexType name="Event">
    <xs:sequence>
      <xs:element name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Session" nillable="true" type="tns:ArrayOfSession" />
      <xs:element minOccurs="0" name="Ticket" nillable="true" type="tns:ArrayOfTicket" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Event" nillable="true" type="tns:Event" />
  <xs:complexType name="ArrayOfSession">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Session" nillable="true" type="tns:Session" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSession" nillable="true" type="tns:ArrayOfSession" />
  <xs:complexType name="ArrayOfTicket">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Ticket" nillable="true" type="tns:Ticket" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTicket" nillable="true" type="tns:ArrayOfTicket" />
  <xs:complexType name="Ticket">
    <xs:sequence>
      <xs:element name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Event" nillable="true" type="tns:Event" />
      <xs:element name="EventId" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element name="Name" nillable="true" type="xs:string" />
      <xs:element name="Price" type="xs:double" />
      <xs:element minOccurs="0" name="SessionId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="TicketSale" nillable="true" type="tns:ArrayOfTicketSale" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Ticket" nillable="true" type="tns:Ticket" />
</xs:schema>