Proxy/Service References/EventsServiceReference/EventsService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/Tickets.Services/EventsService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Tickets.Model" />
  <xs:element name="GetSingleEvent">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="eventId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSingleEventResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Tickets.Model" minOccurs="0" name="GetSingleEventResult" nillable="true" type="q1:ArrayOfEvent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllEvents">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllEventsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Tickets.Model" minOccurs="0" name="GetAllEventsResult" nillable="true" type="q2:ArrayOfEvent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddEvent">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Tickets.Model" minOccurs="0" name="e" nillable="true" type="q3:Event" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddEventResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateEvent">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Tickets.Model" minOccurs="0" name="e" nillable="true" type="q4:Event" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateEventResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveEvent">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Tickets.Model" minOccurs="0" name="e" nillable="true" type="q5:Event" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveEventResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllEventSessions">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="eventId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllEventSessionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Tickets.Model" minOccurs="0" name="GetAllEventSessionsResult" nillable="true" type="q6:ArrayOfSession" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSingleSession">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sessionId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSingleSessionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Tickets.Model" minOccurs="0" name="GetSingleSessionResult" nillable="true" type="q7:ArrayOfSession" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSession">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Tickets.Model" minOccurs="0" name="session" nillable="true" type="q8:Session" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSessionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSession">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Tickets.Model" minOccurs="0" name="session" nillable="true" type="q9:Session" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSessionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveSession">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Tickets.Model" minOccurs="0" name="session" nillable="true" type="q10:Session" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveSessionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllSessionsTickets">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sessionId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllSessionsTicketsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Tickets.Model" minOccurs="0" name="GetAllSessionsTicketsResult" nillable="true" type="q11:ArrayOfTicket" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSingleTicket">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ticketId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSingleTicketResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Tickets.Model" minOccurs="0" name="GetSingleTicketResult" nillable="true" type="q12:ArrayOfTicket" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTicket">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Tickets.Model" minOccurs="0" name="ticket" nillable="true" type="q13:Ticket" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTicketResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTicket">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Tickets.Model" minOccurs="0" name="ticket" nillable="true" type="q14:Ticket" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTicketResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveTicket">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Tickets.Model" minOccurs="0" name="ticket" nillable="true" type="q15:Ticket" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveTicketResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>