Proxy/Service References/TicketsServiceReference/TicketsService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Tickets.DomainModel" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Tickets.DomainModel" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfEvent">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Event" nillable="true" type="tns:Event" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEvent" nillable="true" type="tns:ArrayOfEvent" />
  <xs:complexType name="Event">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Session" nillable="true" type="tns:ArrayOfSession" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Event" nillable="true" type="tns:Event" />
  <xs:complexType name="ArrayOfSession">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Session" nillable="true" type="tns:Session" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSession" nillable="true" type="tns:ArrayOfSession" />
  <xs:complexType name="Session">
    <xs:sequence>
      <xs:element minOccurs="0" name="DateEnd" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateStart" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Event" nillable="true" type="tns:Event" />
      <xs:element minOccurs="0" name="EventId" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Price" type="xs:double" />
      <xs:element minOccurs="0" name="TicketCategory" nillable="true" type="tns:ArrayOfTicketCategory" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Session" nillable="true" type="tns:Session" />
  <xs:complexType name="ArrayOfTicketCategory">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TicketCategory" nillable="true" type="tns:TicketCategory" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTicketCategory" nillable="true" type="tns:ArrayOfTicketCategory" />
  <xs:complexType name="TicketCategory">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Price" type="xs:double" />
      <xs:element minOccurs="0" name="Session" nillable="true" type="tns:Session" />
      <xs:element minOccurs="0" name="SessionId" type="xs:int" />
      <xs:element minOccurs="0" name="SpacesAvailable" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Ticket" nillable="true" type="tns:ArrayOfTicket" />
      <xs:element minOccurs="0" name="TransactionId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TicketCategory" nillable="true" type="tns:TicketCategory" />
  <xs:complexType name="ArrayOfTicket">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Ticket" nillable="true" type="tns:Ticket" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTicket" nillable="true" type="tns:ArrayOfTicket" />
  <xs:complexType name="Ticket">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="TicketCategory" nillable="true" type="tns:TicketCategory" />
      <xs:element minOccurs="0" name="TicketCategoryId" type="xs:int" />
      <xs:element minOccurs="0" name="Transaction" nillable="true" type="tns:Transaction" />
      <xs:element minOccurs="0" name="TransactionId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Ticket" nillable="true" type="tns:Ticket" />
  <xs:complexType name="Transaction">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Ticket" nillable="true" type="tns:ArrayOfTicket" />
      <xs:element minOccurs="0" name="TimeStamp" type="xs:dateTime" />
      <xs:element minOccurs="0" name="User" nillable="true" type="tns:User" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Transaction" nillable="true" type="tns:Transaction" />
  <xs:complexType name="User">
    <xs:sequence>
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="Transaction" nillable="true" type="tns:ArrayOfTransaction" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
  <xs:complexType name="ArrayOfTransaction">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Transaction" nillable="true" type="tns:Transaction" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTransaction" nillable="true" type="tns:ArrayOfTransaction" />
</xs:schema>